{% extends 'profiles/base.html' %}
{% block title %}Login Page{% endblock title %}
{% block content %}
    <div class="container">
        <form method="post" class='forms'>
            {% csrf_token %}
            <h4 class="text-decoration-underline">Login Here</h4>
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
        
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        
    </div>
{% endblock content %}